body{
  font-family: 'Ubuntu', sans-serif;
}

.icon-block i{
    font-size: 1.2em;
}


.quote{
    font-size: 1.2em;
    font-style: italic;
}

#link a{
  margin-left: 1em;
}

.content{
  font-size: 1em;
}

.tag{
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
}

.aside-link{
  color: rgba(0, 0, 0, 0.8);
}
