<!doctype html>

<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{'/css/materialize.min.css' | absolute_url }}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{'/css/main.css' | absolute_url }}"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">
  </head>
  <body>
    <div class="row">
      <div class="container row grey-text text-darken-3" style="padding:2em;">
        <div class="row"></div>
        <div class="row"></div>

        <h4>The Stage</h4>
        <div class="row">
          <h3>{{ page.title }}</h3>
          <h6 class="light">{{ page.date | date_to_string }}</h6> <!-- | date_to_string  -->
          <div class="row">
            {% for category in page.categories %}
                <span class="tag amber lighten-3 black-text">{{ category }}</span>
            {% endfor %}
          </div>
          <div class="divider"></div>
          <div class="row"></div>
          <div class="row justify content light" style="padding:O.5em;">
            {{ content }}
          </div>
          <div class="divider"></div>
          <h6>{{ page.author }}</h6>
        </div>
        <div class="row">
          <h5>Tags</h5>
          <div class="row"></div>
          {% for tag in page.tags %}
            <span class="tag pink lighten-3 black-text">{{ tag }}</span>
          {% endfor %}
        </div>

        <div class="row"></div>
        <div class="row"></div>
        <div class="row" id="link">
          <a class="btn-floating btn-large waves-effect waves-light grey" title="Back" id="preview">
            <i class="material-icons  grey-text text-darken-3">reply</i>
          </a>

          <a class="btn-floating btn-large waves-effect waves-light cyan" title="Home" href="{{ site.url }}/index.html">
            <i class="material-icons  grey-text text-darken-3">home</i>
          </a>

          <a class="btn-floating btn-large waves-effect waves-light amber" title="Members">
            <i class="material-icons  grey-text text-darken-3">person</i>
          </a>
        </div>

        <div class="row"></div>
        <div class="row"></div>
        <div class="footer grey-text">
          <div class="center">
            Copyright 2018
          </div>
        </div>

      </div>
    </div>
  </body>
  <script>
    /* Go back in history */
    document.getElementById('preview').addEventListener("click", function(){
      window.history.back();
    });
  </script>
</html>
