<!doctype html>

<html>
  <head>
    <title>Topics</title>
    <meta charset="utf-8" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/main.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
  </head>
  <body>
    <div style="">
      <div class="container">
        <div class="row" style="height:50px;"></div>
        <h3 class="grey-text text-darken-4 light">The Stage</h3>
        <div class="row red-text">
          <h1 class="grey-text text-darken-4">Topics</h1>
          <i style="font-size:1.5em">Choose your topics and have fun</i>
        </div>
        <!-- Line one -->
        <div class="row grey-text text-darken-3">
          <div class="col l4 s12 m12">
              <div class="card">
                <div class="card-content">
                  <div class="card-title">
                    <span>
                      <i class="material-icons  grey-text text-darken-3 left">free_breakfast</i>
                      Culture
                    </span>
                  </div>
                   <p class="justify" style="min-height:75px;">
                        Benin culture is very vast. Let's discuss about it.
                  </p>
                  <a class="btn btn-flat" href="{{ culture.url }}">
                    <i class="material-icons  grey-text text-darken-3 right">more_horiz</i>
                    READ
                  </a>
                </div>
              </div>
          </div>

          <div class="col l4 s12 m12">
              <div class="card">
                <div class="card-content">
                  <div class="card-title">
                    <span>
                      <i class="material-icons  grey-text text-darken-3 left">pool</i>
                      Sport
                    </span>
                  </div>
                   <p class="justify" style="min-height:75px;">
                        Game amaze us. We like playing and we should comment it.
                  </p>
                  <a class="btn btn-flat">
                    <i class="material-icons  grey-text text-darken-3 right">more_horiz</i>
                    READ
                  </a>
                </div>
              </div>
          </div>

          <div class="col l4 s12 m12">
              <div class="card">
                <div class="card-content">
                  <div class="card-title">
                    <span>
                      <i class="material-icons  grey-text text-darken-3 left">mic</i>
                      Politics
                    </span>
                  </div>
                   <p class="justify" style="min-height:75px;">
                      In so many way, politics manage our daily life. Give your view point here.
                  </p>
                  <a class="btn btn-flat">
                    <i class="material-icons  grey-text text-darken-3 right">more_horiz</i>
                    READ
                  </a>
                </div>
              </div>
          </div>
        </div>
        <!-- Line two -->
        <div class="row grey-text text-darken-3">
          <div class="col s12 m12 l4">
              <div class="card">
                <div class="card-content">
                  <div class="card-title">
                    <span>
                      <i class="material-icons  grey-text text-darken-3 left">accessibility</i>
                      Fashion
                    </span>
                  </div>
                   <p class="justify" style="min-height:75px;">
                      Be handsome, be pretty, be clean is also important. Old fashioned? Explain it.
                  </p>
                  <a class="btn btn-flat">
                    <i class="material-icons  grey-text text-darken-3 right">more_horiz</i>
                    READ
                  </a>
                </div>
              </div>
          </div>

          <div class="col s12 m12 l4">
              <div class="card">
                <div class="card-content">
                  <div class="card-title">
                    <span>
                      <i class="material-icons  grey-text text-darken-3 left">weekend</i>
                      Lifestyle
                    </span>
                  </div>
                   <p class="justify" style="min-height:75px;">
                      We are all unique and use to do things differently. Share your lifestyle with us.
                  </p>
                  <a class="btn btn-flat">
                    <i class="material-icons  grey-text text-darken-3 right">more_horiz</i>
                    READ
                  </a>
                </div>
              </div>
          </div>

          <div class="col s12 m12 l4">
              <div class="card">
                <div class="card-content">
                  <div class="card-title">
                    <span>
                      <i class="material-icons  grey-text text-darken-3 left">people</i>
                      Relationship
                    </span>
                  </div>
                   <p class="justify" style="min-height:75px;">
                      Humm, relations are complicated. Give me some advices.
                  </p>
                  <a class="btn btn-flat">
                    <i class="material-icons  grey-text text-darken-3 right">more_horiz</i>
                    READ
                  </a>
                </div>
              </div>
          </div>
        </div>

        <!-- Line three -->
        <div class="row grey-text text-darken-3">
          <div class="col s12 m12 l4">
              <div class="card">
                <div class="card-content">
                  <div class="card-title">
                    <span>
                      <i class="material-icons  grey-text text-darken-3 left">memory</i>
                      Technology
                    </span>
                  </div>
                   <p class="justify" style="min-height:75px;">
                      I am an engineer. Are you? Come and share your knowledge on the stage.
                  </p>
                  <a class="btn btn-flat">
                    <i class="material-icons  grey-text text-darken-3 right">more_horiz</i>
                    READ
                  </a>
                </div>
              </div>
          </div>

          <div class="col s12 m12 l4">
              <div class="card">
                <div class="card-content">
                  <div class="card-title">
                    <span>
                      <i class="material-icons  grey-text text-darken-3 left">airline_seat_individual_suite</i>
                      Entertainment
                    </span>
                  </div>
                   <p class="justify" style="min-height:75px;">
                      A goat, a cabbage and the wolf on the sea. Checkout out what happen!
                  </p>
                  <a class="btn btn-flat">
                    <i class="material-icons  grey-text text-darken-3 right">more_horiz</i>
                    READ
                  </a>
                </div>
              </div>
          </div>

          <div class="col s12 m12 l4">
              <div class="card">
                <div class="card-content">
                  <div class="card-title">
                    <span>
                      <i class="material-icons  grey-text text-darken-3 left">restaurant_menu</i>
                      Cooking
                    </span>
                  </div>
                   <p class="justify" style="min-height:75px;">
                      Cooking is sometimes a big deal. Give me a hand.
                  </p>
                  <a class="btn btn-flat">
                    <i class="material-icons  grey-text text-darken-3 right">more_horiz</i>
                    READ
                  </a>
                </div>
              </div>
          </div>
        </div>

        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row" id="link">
          <a class="btn-floating btn-large waves-effect waves-light cyan" title="Home" href="index.html">
            <i class="material-icons  grey-text text-darken-3">home</i>
          </a>

          <a class="btn-floating btn-large waves-effect waves-light amber" title="Members">
            <i class="material-icons  grey-text text-darken-3">person</i>
          </a>
        </div>

        <div class="row"></div>
        <div class="row"></div>
        <div class="footer grey-text">
          <h5>The Stage</h5>
          <div class="row">
            Learning is a long process. Every single step you reach should be celebrated.
          </div>
          <div class="center">
            Copyright 2018
          </div>
        </div>

      </div>
    </div>
  </body>

</html>
